@import url('./basic_styles.css');

.header {
    display: flex;
    align-items: center;
    background-color: var(--mainColor); 
    padding: 20px;
    height: 70px;
}

.logo {
    height: 50px; 
    margin-right: 30px;
    margin-left: 30px;
}

.header-text h1 {
    color: white;
    font-size: 1.5em;
    margin: 0;
    line-height: 1.1;
    font-family: var(--title-text);
}

.logo {
    height: 80px;
    width: auto; 
}